[Desktop Entry]
Exec=/home/deck/dectation/scripts/toggle-talon.sh
Name=toggle-dictation
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
